@media screen and (min-width: 1410px) {

    .article p {
        font-size: 20px;

    }

    .main--h1 {
        font-size: 46px;

    }

}

@media screen and (max-width: 1226px) {
    .center-position {
        padding-left: 30px;
    }

    #Layer_1 {
        width: 800px;
        height: 400px;
    }


}

@media screen and (max-width: 1090px) {
    .login-box {
        padding-top: 110px;
    }


    .section {
        flex-grow: 2;
    }

    .img--accept {
        flex-grow: 1;
        width: 40%;
    }

    #wallet {
        width: 440px;
        height: 420px;
    }

    .article p,
    .main--h1 {
        width: 90%;
    }

    .raise2,
    .btn {
        font-size: 14px;
        height: 50px;
        width: 100px;
    }

    .contents--words {
        font-size: 16px;
    }

    .support {
        font-size: 14px;
    }
}

@media screen and (max-width: 1025px) {}

/* max width 800px ipad */
@media screen and (max-width: 922px) {
    #Layer_1 {
        width: 700px;
        height: 400px;
    }

    .center-position {
        padding-left: 0;
    }

    #wallet {
        width: 340px;
        height: 400px;
    }

    .main--h1 {
        font-size: 30px;
    }

    .article p {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .image {
        white-space: normal;
        font-size: 14px;
        color: #000000;
        transition: all .5s ease;
        margin-left: 10px;
    }

    .image h3 {
        display: block;
        margin-top: 2px;
    }

    .float ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .float ul li {
        width: 20%;
        display: block;
        margin-top: 10px;
    }

    .support {
        white-space: normal;
        width: 50%;
    }

    .support h2 {
        padding-bottom: 0;
        font-weight: 16px;
    }

    .contents--words {
        font-size: 16px;
    }



    .access {
        font-size: 30px;
    }

    .myCenter {
        width: 90%;
        top: 45%;
    }


}

@media screen and (max-width: 700px) {
    #Layer_1 {
        width: 600px;
    }

    #wallet {
        width: 300px;
        height: 300px;
    }

    .main--h1 {
        font-size: 26px;
    }

    .article p {
        font-size: 14px;
    }

    .article p,
    .main--h1 {
        width: 92%;
    }

    .raise {
        width: 120px;
        font-size: 12px;
    }

    .float ul li {
        margin-left: 20px;
        text-align: left;
    }

    .login-box {
        padding-top: 64px;
    }


}

@media screen and (max-width: 600px) {
    #Layer_1 {
        width: 80vw;
    }

    .section {
        width: 50%;
        height: 100%;

    }

    .float ul li {
        margin-left: 20px;
        text-align: left;
    }



}

@media screen and (max-width: 546px) {
    .main--h1 {
        font-size: 20px;
    }

    .float ul li {
        width: 80px;
    }

    .float ul li:nth-child(1) {
        margin-left: 0;
        font-size: 12px;
    }

    .image {
        width: 100%;
    }
}

@media screen and (max-width: 518px) {
    #wallet {
        width: 300px;
        height: 320px;
    }

    .article p,
    .main--h1 {
        width: 80%;
    }

    .float ul li {
        margin-left: 12px;
        font-size: 8px;
    }

    .myCenter {
        width: 90%;
        top: 41%;
    }
}

/* max width 480px phone */
@media screen and (max-width: 480px) {
    #wallet {
        width: 290px;
        height: 250px;
    }

    .wallet--svg {
        display: none;
        width: 0;
    }

    .img--accept {
        width: 100%;

    }

    .main--h1 {
        font-size: 50px;
        width: 100%;
    }

    .article p {
        width: 100%;
        font-size: 20px;
    }

    .float ul li {
        margin-left: 1px;
        font-size: 8px;
        text-align: center;
    }

    .raise2,
    .btn {
        font-size: 12px;
        height: 40px;
        width: 80px;
    }

    .reg-btn {
        font-size: 12px;
    }

    #spin--coin {
        width: 300px;
        height: 300px;
    }

    .myCenter {
        width: 90%;
        top: 47%;
    }

    .contents--words {
        font-size: 12px;
    }




}

@media screen and (max-width: 414px) {
    .flex-grow {
        width: 40%;
    }

    .support h2 {
        font-size: 8px;
    }

    .float ul li {
        width: 50px;
        margin-left: 20px;
        font-size: 8px;
        text-align: center;
    }

    .myCenter {
        width: 90%;
        top: 50%;
    }

    .login-box {
        top: 65%;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 360px) and (min-height: 640px) {
    .flex-grow {
        width: 40%;
    }


    .myCenter {
        width: 90%;
        top: 50%;
    }

    .login-box {
        top: 75%;
        padding-top: 10px;
    }

    .main--h1 {
        margin-top: 120px;
        font-size: 30px;
        width: 100%;
    }

    .article p {
        width: 100%;
        font-size: 20px;
    }

    .support h2 {
        font-size: 8px;
    }

    .float ul li {
        width: 50px;
        margin-left: 1px;
        font-size: 8px;
        text-align: center;
    }


}
@media screen and (max-width: 320px){
    .main--h1 {
        
        margin-top: 160px;
        font-size: 20px;
        width: 100%;
    }
     .article p {
        width: 100%;
        font-size: 14px;
    }
    .float ul li {
        width: 30px;
        margin-left: 30px;
        font-size: 8px;
    }
    
       .contents--words {
        font-size: 10px;
    }
    
    #spin--coin{
         width: 200px;
        height: 300px;
    }
    

}

